@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25pt;
    
    font-weight: 800;
    color: black;
}

hr {
    background-color: black;
    border: 1px solid black;
    margin: 0 20px;
}

* {
    font-family: "JetBrains Mono", monospace;
    color: #36395A;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.results-table {
    font-size: 20px;

}

#submission-div {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 50px 50px 50px;
    margin: 20px 0;
    width: 100%;
    
    justify-content: center;
}


#file-input::-webkit-file-upload-button {
    width: 100px;
    font-family: "JetBrains Mono", monospace;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: .3s;
}

#file-input::-webkit-file-upload-button:hover {
    background-color: #135EF2;
    color: white;
}

#file-input-div {
    padding: 10px;
    grid-row: 1 / 2;
    border: 1px solid black;
    border-bottom: 0;
}

#ratio-input-div {
    padding: 10px;
    grid-row: 2 / 3;
    border: 1px solid black;
}

/*"button-30" Code modified from https://getcssscan.com/css-buttons-examples*/
.button-30 {
    margin: 15px;
    justify-self: center;
    width: 100px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    transition: .3s;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3E588C 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: #135EF2;
    color: white;
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

td, th {
    border: 1px solid black;
    padding: 7px;
    font-size: 10pt;
}

th {
    background-color: lightgray;
}

#table-div {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#message-p {
    display: flex;
    justify-content: center;
    margin: 30px 0px 15px 0px;
}

.success-message {
    color: black;
    opacity: 35%;
    transition: opacity 3s;
}

.error-message {
    color: red;
    opacity: 35%;
    transition: opacity 3s;
}

